.search{   
margin-top: 2vh;
width: 25%;
}
.grd{
    border-color: blck;
}
.stl{
    margin-top: 3vh;
    margin-right: 5vh;
    border: solid;
    width: 20vh;
    height: 23vh;
}
.dark{
    background-color: rgb(54, 53, 53);
}
.light{
    background-color: transparent;
}